@media (min-width: 670px) {
.item:nth-of-type(even){
    padding-top: 200px;
}
.item{
    position: relative;
    place-items: center;
    justify-content: center;
    justify-self: center;
    align-items: center;
    align-self: center;
    text-align: center;
}
}
@media (max-width: 670px) {
    .item:nth-of-type(even){
        padding-top: 100px;
    }
    .item{
        place-items: center;
        justify-content: center;
        justify-self: center;
        align-items: center;
        align-self: center;
        text-align: center;
    }
}

.item:hover{
    transform: scale(1.2);
    transition: 0.3s ease-in;
}
