@media (min-width: 670px) {
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.heading{
  font-family: PT Serif;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 48px;
letter-spacing: -0.045em;

color: #000000;
}

.flexbox{
  display: flex;
  margin: auto;
  height: 15rem;
  width: 50%;
}

.innerflexbox{
  height: 100%;
  width: 100%;
  padding-left: 5rem;
}

.heading{
  font-family: PT Serif;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 48px;
letter-spacing: -0.045em;

color: #000000;
}

.herotext{
  padding-top: 5px;
  font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
/* identical to box height */

text-transform: uppercase;

color: #000000;
}

.paragraph{
  font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 27px;

color: #000000;
}
.horiz{
  position: absolute;
  font-family: PT Serif;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 16px;
/* identical to box height */

text-transform: uppercase;
transform: rotate(90deg);
color: #000000;

}

.imgp{
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  margin: 0;
  /* identical to box height */
  
  
  color: #000000;
}
}


@media (max-width: 670px) {
  .container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 1rem;
  }
  
  .heading{
    font-family: PT Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -0.045em;
  
  color: #000000;
  }
  
  .heading{
    font-family: PT Serif;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 48px;
letter-spacing: -0.045em;
  
  color: #000000;
  }
  
  .herotext{
    font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
/* identical to box height */

text-transform: uppercase;
  
  color: #000000;
  }
  
  .paragraph{
    font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 21px;
  
  color: #000000;
  }

  .horiz{
    font-family: PT Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height */
  text-transform: uppercase;
  transform: rotate(90deg);
  color: #000000;
  
  }
  
  .imgp{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    margin: 0;
    
    color: #000000;
  }
}
